src/main/java/org/val/win/service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.win.val.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.service.win.val.org/" name="P7ServiceImplService">
<import namespace="http://contract.service.win.val.org/" location="http://localhost:8080/service?wsdl=1"/>
<binding xmlns:ns1="http://contract.service.win.val.org/" name="P7ServiceImplPortBinding" type="ns1:P7Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getListEmprunt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
</operation>
<operation name="emprunt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getListEmpruntUtilisateur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
</operation>
<operation name="prolongationEmprunt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
</operation>
<operation name="fermerEmprunt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retardEmprunt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
</operation>
<operation name="getListOuvrage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
</operation>
<operation name="getListDispo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
</operation>
<operation name="getOuvrage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="utilisateurLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
</operation>
<operation name="getUtilisateur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://contract.service.win.val.org/"/>
</output>
</operation>
</binding>
<service name="P7ServiceImplService">
<port name="P7ServiceImplPort" binding="tns:P7ServiceImplPortBinding">
<soap:address location="http://localhost:8080/service"/>
</port>
</service>
</definitions>